@media screen and (max-width: 960px) {
    
    .welcome{
        &__welcome, &__title, &__subtitle{
            text-align: center;
        }
    }

    .contact{
        height: 900px;

        &__box{
            &__forms{
                height: 400px;
            }
        }
    }
}

@media screen and (max-width: 750px){

    .headboard{
        flex-direction: column;
        align-items: center;
        height: 120px;

        &__logo{
            height: 80px;
        }

        &__menu{
            width: 100%;

            &__nav{
                justify-content: space-evenly;
                margin: 0px 25px 0px 61px;

                &__list{
                    border: solid 2px black;
                    padding: 0px 15px;

                    &__link:hover{
                        border-radius: 0px;
                        padding: 0%;
                    }
                }

                &__list:hover{
                    background-color: black;
                    color: rgb(255, 0, 0);
                }

                
            }
        }
    }

    .welcome{
        height: 700px;
    }

    .aboutUs{
        height: 1200px;
        align-items: center;
        background-color: rgb(12, 12, 12);

        &__one, &__two{
            @include aboutUsResponsive;
        }
    }

    .contact{
        height: 1000px;
        &__box{
            &__forms{
                height: 500px;

            }
        }
    }
}

@media screen and (max-width: 575px){
    .headboard{
        flex-direction: row;
        background: white;

        &__menu{
            display: none;
        }

        &__menu2{
            display: inline;

            .submenu{
                &__menu{
                    padding: 0px 10px;
                    position: fixed;
                    top: 80px;
                    right: 0%;
                    width: 40%;
                    height: 0%;
                    background-color: black;
                    z-index: 200;
                    overflow-x: hidden;
                    transition: all .5s;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &__list{
                        &__link{
                            color: red;
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .cerrarMenu{
            display: none;
        }
    }

    .welcome{
        height: 350px;

        &__welcome, &__title, &__subtitle{
            font-size: 15px;
            padding: 0px 10px;
        }
    }

    .aboutUs{
        &__one{
            height: 300px;
        }
    }

    .contact{
        height: 1125px;

        &__wpp{
            &__title, &__subtitle{
                text-align: center;
            }
        }
    }
}